<li>
  <ul>
	  <li>Church: <%= link_to service.church.name, service.church %></li>
	  <li>Location: <%= service.location %></li>
	  <li>Day: <%= service.day_of_week %></li>
	  <li>Time: <%= service.start_time %></li>
  </ul>
</li>
